.grid {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start; }

.col--70 {
  width: 70%; }

.col--30 {
  width: 30%; }

.nav__row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end; }

.logo {
  display: inline-block; }

.logo-image {
  display: block; }

.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }
  .nav a {
    margin-right: 10px;
    padding: 10px 0;
    color: #207ce5;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center; }
  .nav a:last-child {
    margin-right: 0; }

.tabs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end; }

.tab {
  padding: 10px;
  border: 1px #207ce5 solid;
  background: #191919;
  color: white;
  font-size: 12px;
  text-align: right;
  text-decoration: none;
  white-space: nowrap; }

.tab--active {
  font-size: 14px; }

.material-icons.tabs__mobile-selector {
  display: none; }

@media screen and (max-width: 800px) {
  .material-icons.tabs__mobile-selector {
    display: block; }

  .tabs {
    align-items: center;
    border: 1px #207ce5 solid; }

  .tab {
    border: 0; }

  .tab:nth-of-type(2),
  .tab:nth-of-type(3) {
    display: none; } }
.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 20px;
  padding: 3px;
  background: linear-gradient(135deg, #88bae8 0%, #207ce5 100%); }

.gallery__item {
  margin: 1px;
  background: #191919;
  overflow: hidden; }

.gallery__item__img {
  width: 100%;
  height: 100%;
  min-width: 360px;
  min-height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center; }

#img1 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/97665/AdobeStock_99350681.jpeg); }

#img2 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/97665/AdobeStock_51490712.jpeg); }

#img3 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/97665/AdobeStock_112950832.jpeg); }

#img4 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/97665/AdobeStock_92564034.jpeg); }

.gallery__item__title {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 10px; }

.gallery__item__content {
  padding: 16px;
  font-size: 18px;
  align-self: stretch; }

.gallery__item__time {
  display: block;
  margin-bottom: 6px;
  font-size: 12px;
  text-transform: uppercase; }

.gallery__item--large {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(70% - 2px); }

.gallery__item__content {
  width: 100%; }

.gallery__item__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%; }

.gallery__item__summary {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300; }

@media screen and (min-width: 801px) {
  .gallery__item {
    min-height: 300px; }

  .gallery__item__img--small {
    flex: 0 1 150px; }

  .gallery__item--large .gallery__item__img {
    height: 100%; }

  .gallery__item--small {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(30% - 2px);
    margin: 1px; }

  .gallery__item__img--small {
    width: 100%;
    max-height: 150px; }

  .gallery__item__content {
    width: 100%; }

  .gallery__item__title--small {
    font-size: 24px; }

  .gallery__item__summary--small {
    font-size: 14px; } }
@media screen and (max-width: 800px) {
  .gallery {
    flex-direction: column; }

  .gallery__item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    width: calc(100% - 2px); }

  .gallery__item:nth-child(even) {
    flex-direction: row-reverse; }
    .gallery__item:nth-child(even) .gallery__item__content {
      align-items: flex-end;
      text-align: right; }

  .gallery__item__img {
    width: 50% !important;
    min-width: 0;
    height: 20vh;
    max-height: none !important; }

  .gallery__item__time {
    margin-bottom: 4px; }

  .gallery__item__title {
    font-size: 30px; }

  .gallery__item__content {
    width: 50% !important;
    font-size: 16px; } }
@media screen and (max-width: 600px) {
  .gallery__item {
    flex-direction: column !important; }
    .gallery__item > * {
      width: 100% !important; }

  .gallery__item:nth-child(even) .gallery__item__content {
    align-items: flex-start;
    text-align: left; }

  .gallery__item__img {
    background-position-y: -10px; } }
.feed-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px #207ce5 solid; }

.feed-item__image {
  margin-right: 10px; }

.feed-item__title {
  margin-top: 0; }

footer {
  margin-bottom: 20px; }
  footer .logo-image {
    margin-left: auto;
    margin-right: auto; }

* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  height: 100%; }

body {
  margin-top: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #191919;
  background: linear-gradient(135deg, #37383d 0%, black 100%) fixed;
  color: #fff; }

.wrap {
  width: 95%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto; }

main {
  margin-bottom: 40px; }

/*# sourceMappingURL=style.css.map */
