.gallery{
  @include flex(row, wrap, flex-start, stretch);
  margin-bottom: 20px;
  padding: 3px;
  // background: linear-gradient(90deg,#f7c626 15%,#f68c2f 40%,#e5127d 85%);
  background: linear-gradient(135deg, rgba(136,186,232,1) 0%,rgba(32,124,229,1) 100%);
}
.gallery__item{
  // border: 1px transparent solid;
  margin: 1px;
  background: #191919;
  overflow: hidden;
}
.gallery__item:hover{
  cursor: pointer;
}
.gallery__item__img{
  width: 100%;
  height: 100%;
  min-width: 360px;
  min-height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}
#img1{background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/97665/AdobeStock_99350681.jpeg);}
#img2{background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/97665/AdobeStock_51490712.jpeg);}
#img3{background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/97665/AdobeStock_112950832.jpeg);}
#img4{background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/97665/AdobeStock_92564034.jpeg);}
#img5{background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/97665/AdobeStock_77656720.jpg);}
#img6{background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/97665/AdobeStock_82337319.jpg);}
#img7{background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/97665/AdobeStock_72073411.jpg);}
#img8{background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/97665/AdobeStock_103251926.jpg);}
#img9{background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/97665/AdobeStock_52415534.jpg);}
#img10{background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/97665/AdobeStock_81208397.jpg);}
#img11{background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/97665/AdobeStock_79523483.jpg);}
#img12{background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/97665/AdobeStock_85774162.jpg);}

.gallery__item__title{
  margin: 0;
  // font-family: 'PT Sans Narrow', sans-serif;
  // font-family: 'Didact Gothic', sans-serif;
  // font-family: 'Dosis', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.gallery__item__content{
  padding: 16px;
  font-size: 18px;
  // background: linear-gradient(135deg, rgba(55,56,61,1) 0%,rgba(0,0,0,1) 100%);
  align-self: stretch;
}
.gallery__item__time{
  display: block;
  margin-bottom: 6px;
  font-size: 12px;
  text-transform: uppercase;
}
.gallery__item--large{
  @include flex(row, nowrap, flex-start, flex-start);
  width: calc(70% - 2px);
  // width: 70%;
}

.gallery__item__content{
  width: 100%;
}

.gallery__item__content{
  @include flex(column, nowrap, flex-start, flex-start);
  width: 60%;
}
.gallery__item__summary{
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
}
@media screen and (min-width: 801px){
  .gallery__item{
    min-height: 300px;
  }
  .gallery__item__img--small{
    flex: 0 1 150px;
  }
  .gallery__item--large{
    .gallery__item__img{
      height: 100%;
    }
  }
  .gallery__item--small{
    @include flex(column, nowrap, flex-start, flex-start);
    // width: 30%;
    width: calc(30% - 2px);
    margin: 1px;
  }
  .gallery__item__img--small{
    width: 100%;
    max-height: 150px;
  }
  .gallery__item__content{
    width: 100%;
  }
  .gallery__item__title--small{
    font-size: 24px;
  }
  .gallery__item__summary--small{
    font-size: 14px;
  }
}
@media screen and (max-width: 800px){
  .gallery{
    flex-direction: column;
  }
  .gallery__item{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    width: calc(100% - 2px);
  }
  .gallery__item:nth-child(even){
    flex-direction: row-reverse;

    .gallery__item__content{
      align-items: flex-end;
      text-align: right;
    }
  }
  .gallery__item__img{
    width: 50% !important;
    min-width: 0;
    height: 20vh;
    max-height: none !important;
  }
  .gallery__item__time{
    margin-bottom: 4px;
  }
  .gallery__item__title{
    font-size: 30px;
  }
  .gallery__item__content{
    width: 50% !important;
    font-size: 16px;
  }
}
@media screen and (max-width: 600px){
  .gallery__item{
    flex-direction: column !important;
    >*{
      width: 100% !important;
    }
  }
  .gallery__item:nth-child(even){
    .gallery__item__content{
      align-items: flex-start;
      text-align: left;
    }
  }
  .gallery__item__img{
    background-position-y: -10px;
  }
}
