.tabs{
  @include flex(row, nowrap, space-between, flex-end);
  // background: linear-gradient(135deg, #88bae8 0%, #207ce5 100%);
}
.tab{
  // margin-top: 1px;
  // margin-left: 1px;
  padding: 10px;
  border: 1px rgba(32, 124, 229, 1) solid;
  background: #191919;
  color: white;
  font-size: 12px;
  text-align: right;
  text-decoration: none;
  white-space: nowrap;
}
// .tab:first-of-type{
//   background: linear-gradient(135deg, #88bae8 0%, #207ce5 100%);
// }
// .tab:nth-of-type(2){
//   background: linear-gradient(0deg, #88bae8 0%, #207ce5 100%);
// }
// .tab:nth-of-type(3){
//   background: linear-gradient(45deg, #88bae8 0%, #207ce5 100%);
// }
.tab--active{
  font-size: 14px;
}
.material-icons.tabs__mobile-selector{
  display: none;
}

@media screen and (max-width: 800px){
  // This is for protyping initial state only. Try not to program functionality based on this.
  .material-icons.tabs__mobile-selector{
    display: block;
  }
  .tabs{
    align-items: center;
    border: 1px rgba(32, 124, 229, 1) solid;
  }
  .tab{
    border: 0;
  }
  .tab:nth-of-type(2),
  .tab:nth-of-type(3){
    display: none;
  }

}
